body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Overpass', sans-serif;
    background: linear-gradient(180deg, rgba(32,34,61,1) 0%, rgba(21,23,59,1) 100%);
}

:root{
    --bg-card-x: var(--gradient-dark);
    --bg-round-x: var(--medium-black);
    --h2-x: var(--white);
    --p-x: var(--grey);
    --bg-round-hover-x: var(--orange);
    --bg-round-selected-x: var(--grey);
    --bg-submit-x: var(--orange);
    --bg-submit-hover-x: var(--white);
    --bg-submit-txt-x: var(--white);
    --bg-submit-txt-hover-x: var(--slight-black);
    --bg-txt-light-mode-x: var(--grey);
    --bg-light-mode-hover-x: var(--grey);
    --bg-txt-light-mode-hover-x: var(--white);
    --shadow-x: var(--shadow-dark);
    --bg-round-long-x: var(--medium-black);
    --txt-round-long-x: var(--orange);

    --gradient-dark: linear-gradient(180deg, hsl(218, 9%, 23%) 0%, hsl(216, 12%, 8%) 100%);
    --medium-black: #252d37;
    --grey: hsl(217, 12%, 63%);
    --orange: hsl(25, 97%, 53%);
    --white: white;
    --black: black;
    --slight-black: hsl(216, 12%, 8%);
    --shadow-dark: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --shadow-white: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    --gradient-white: linear-gradient(180deg, rgba(237,230,238,1) 0%, rgba(203,230,255,1) 100%);
    --slight-grey: #ccc8c8;
    --blue: rgb(72, 79, 219);
}

.light-mode{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(173,212,249,1) 100%);
    --bg-card-x: var(--gradient-white);
    --bg-round-x: var(--grey);
    --h2-x: var(--black);
    --p-x: var(--slight-black);
    --bg-round-hover-x: var(--blue);
    --bg-round-selected-x: var(--slight-black);
    --bg-submit-x: var(--blue);
    --bg-submit-hover-x: var(--slight-black);
    --bg-submit-txt-x: var(--slight-black);
    --bg-submit-txt-hover-x: var(--blue);
    --bg-txt-light-mode-x: var(--slight-black);
    --bg-light-mode-hover-x: var(--grey);
    --bg-txt-light-mode-hover-x: var(--white);
    --bg-round-long-x: var(--grey);
    --txt-round-long-x: var(--white);
}

main, section{
    background: var(--bg-card-x);
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    letter-spacing: .5px;
    box-shadow: var(--shadow-x);
}

.bg-round{
    background-color: var(--bg-round-x);
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 47px;
    transition: .3s ease-in-out;
}

h2{
    color: var(--h2-x);
    margin-top: 30px;
    transition: .3s ease-in-out;
}

p{
    color: var(--p-x);
    font-size: 15px;
    transition: .3s ease-in-out;
}

.notes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 35px;
    transition: .3s ease-in-out;
}

.notes > button{
    cursor: pointer;
    border: none;
    color: var(--p-x);
    font-size: 15px;
}

.notes > button:hover{
    background-color: var(--bg-round-hover-x);
    color: white;
}

.notes > button:focus{
    background-color: var(--bg-round-selected-x);
    color: white;
}


.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-submit-x);
    border-radius: 30px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-weight: 600;
    color: var(--bg-submit-txt-x);
    letter-spacing: 1.5px;
}

.submit:hover{
    background-color: var(--bg-submit-hover-x);
    color: var(--bg-submit-txt-hover-x);
}

.mode{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    cursor: pointer;
    width: 130px;
    padding: 7px;
    border-radius: 10px;
    transition: .3s ease-in-out;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: var(--bg-txt-light-mode-x);
}

.mode > h4{
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 0;
    transition: .3s ease-in-out;
}

.mode:hover{
    background-color: var(--bg-light-mode-hover-x);
    color: var(--bg-txt-light-mode-hover-x);
}

.mode > img{
    height: 21px;
}

.hidden{
    display: none;
}

.error{
    color: red;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: .3s ease-in-out;
}

.bg-round-long{
    margin-top: 20px;
    background-color: var(--bg-round-long-x);
    border-radius: 20px;
    color: var(--txt-round-long-x);
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    transition: .3s ease-in-out;
}

.bg-round-long > h5{
    margin: 0;
    font-weight: 400;
    letter-spacing: .5px;
}
