body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Overpass;
    background: linear-gradient(180deg, rgba(32,34,61,1) 0%, rgba(21,23,59,1) 100%);
}

:root{
    --bg-card-x: var(--bg-card-dark);
    --bg-round-x: var(--bg-round-dark);
    --h2-x: var(--h2-dark);
    --p-x: var(--p-dark);
    --bg-round-hover-x: var(--bg-round-hover-dark);
    --bg-submit-x: var(--bg-submit-dark);

    --bg-card-dark: linear-gradient(180deg, hsl(218, 9%, 23%) 0%, hsl(216, 12%, 8%) 100%);
    --bg-round-dark: hsl(213, 19%, 18%);
    --h2-dark: hsl(0, 0%, 100%);
    --p-dark: hsl(217, 12%, 63%);
    --bg-round-hover-dark: hsl(25, 97%, 53%);
    --bg-submit-dark: hsl(25, 97%, 53%);
}

main{
    background: var(--bg-card-x);
    max-width: 350px;
    padding: 30px;
    border-radius: 20px;
    letter-spacing: .5px;
}

.bg-round{
    background-color: var(--bg-round-x);
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 47px;
    transition: .5s ease-in-out;
}

h2{
    color: var(--h2-x);
    margin-top: 30px;
}

p{
    color: var(--p-x);
    font-size: 15px;
}

.notes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 35px;
}

.notes > button{
    cursor: pointer;
    border: none;
    color: var(--p-x);
    font-size: 15px;
}

.notes > button:hover{
    background-color: var(--bg-round-hover-x);
    color: white;
}

.submit{
    background-color: var(--bg-submit-x);
    border-radius: 30px;
    font-size: 15px;
    padding: 10px;
}

